<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <div th:if="${session.role == 'COMPRADOR'}">
    <a th:href="@{/editais/novo}">+ Cadastrar Novo Edital</a>
    </div>
        <table>
    <thead>
        <tr>
            <th>Título</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    
    
    <tbody>
        <tr th:each="e : ${editais}">
            <td th:text="${e.titulo}"></td>
            <td>
                <span th:if="${e.status == 'ABERTO'}" class="badge-success">Aberto</span>
                <span th:if="${e.status != 'ABERTO'}" class="badge-danger">Encerrado</span>
            </td>
            <td>
                <a th:href="@{|/editais/${e.id}|}">Ver Detalhes</a>
            </td>
        </tr>
    </tbody>
</table>
    </body>
</html>
<div th:if="${session.role == 'COMPRADOR'}">
    <a th:href="@{/editais/novo}">+ Cadastrar Novo Edital</a>