<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Editais</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

    <div th:replace="~{fragments/layout :: customheader}">
        </div>        
        <div>Tabela de Editais</div>
        <h3>tabela</h3>
        
        
        <div class="grupobotoes">
            <a href="/lance" class="botaoprincipal">Fazer lance</a>
            
            
            <a href="/login" class="botaovoltar">Desconectar</a>
            
        </div>
        
         <form
            class="d-grid gap-3" th:action="@{/logar}" th:object="${credentials}" method="post">
           
            <div class="grupo">
                <label>Valor</label>
                <input type="number" th:field="number" required />
            </div>
            
            <div class="grupo">
                <label>Data do lance:</label>
                <input type="Date" th:field="{date}" required />
            </div>
               <div class="grupo">
                <label>Identificação do Edital:</label>
                <input type="Date" th:field="{date}" required />
            
               </div>
               <div class="grupo">
                <label>Identificação do Usuário:</label>
                <input type="Date" th:field="{date}" required />
            </div>
             
             
            
            <button type="submit" class="botaoenviar">Executar Edital</button>
        
            
         
         </form>
        
    </body>
</html>
