<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Painel de Editais</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

  <div th:replace="~{fragments/index :: pagstyle}">
        </div>
    


    <div class="card">
        <h1 class="titulo">Bem-vindo ao Portal de Editais</h1>
        
        <div class="grupobotoes">
            <a href="/login" class="botaoprincipal">Logar</a>
            <a href="/registrar" class="botaoborda">Registrar</a>
        </div>
    </div>

</body>
</html>