<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
 <head>
        <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
 
        <div th:replace="~{fragments/login :: pagstyle}">
        </div>
    
    <a href="/" class="botaovoltar">← Voltar</a>

    <div class="card">
        <h1 class="titulo">Acesse sua conta</h1>
        
        <form
            class="d-grid gap-3" th:action="@{/logar}" th:object="${credentials}" method="post">
           
            <div class="grupo">
                <label>E-mail:</label>
                <input type="email" th:field="*{email}" required />
            </div>
            
            <div class="grupo">
                <label>Senha:</label>
                <input type="password" th:field="*{senha}" required />
            </div>
            
            <button type="submit" class="botaoenviar">Logar</button>
        </form>
    </div>

</body>
</html>