<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
     
    <div th:replace="~{fragments/registrar :: pagstyle}">
        </div>
    
    <a href="/" class="botaovoltar">← Voltar</a>

    
    <div class="card">
        <h1 class="titulo">Criar Conta</h1>
        
        <form th:action="@{/registrar}" th:object="${user}" method="post">
            <div class="grupo">
                <label>Nome:</label>
                <input type="text" th:field="*{nome}" required />
            </div>
            
            <div class="grupo">
                <label>E-mail:</label>
                <input type="email" th:field="*{email}" required />
            </div>
            
            <div class="grupo">
                <label>Senha:</label>
                <input type="password" th:field="*{senha}" required />
            </div>
            
             <div class="grupo">
                <label>Confirmar senha:</label>
                <input type="password" th:field="*{senha}" required />
            </div>
            
            <div th:if="${erroServidor}"
                 class="alert alert-danger"
                 style="color: darkred; background: salmon; padding: 12px; border-radius:6px; margin-bottom: 15px"
                 
                 
                 ></div>
            
            <button type="submit" class="botaoenviar">Enviar</button>
        </form>
    </div>

</body>
</html>